@model EntityLayer.Concrete.Customer
@{
	ViewData["Title"] = "AddCustomer";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
	@Html.Label("Müşteri Adı")
	@Html.TextBoxFor(x=> x.Name, new{@class = "form-control"})
	@Html.ValidationMessageFor(x=> x.Name)
	<br />
	@Html.Label("Müşteri Şehri")
	@Html.TextBoxFor(x=> x.City, new{@class = "form-control"})
	@Html.ValidationMessageFor(x=> x.City)
	<br />
	@Html.Label("Meslek Seçiniz");
	@Html.DropDownListFor(x=>x.JobId,(List<SelectListItem>)ViewBag.v, new {@class = "form-control"})

	<br />

	<button class="btn btn-primary"> Müşteri Ekle</button>
</form>