@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<form method = "post">
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x=> x.Name, new{@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.Name)
    <br />
    @Html.Label("Ürün Fiyatı")
    @Html.TextBoxFor(x=> x.Price, new{@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.Price)

    <br />
    @Html.Label("Ürün Stok Sayısı")
    @Html.TextBoxFor(x=> x.Stock, new{@class = "form-control"})
     @Html.ValidationMessageFor(x=> x.Stock)

    <br />
    <button class = "btn btn-primary"> Ürün Ekle</button>
</form>



