@model EntityLayer.Concrete.Product
@{
	ViewData["Title"] = "UpdateProduct";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
	@Html.Label("Ürün ID")
	@Html.TextBoxFor(x=>x.Id, new {@class = "form-control"})
	<br />
	@Html.Label("Ürün Adı")
	@Html.TextBoxFor(x=>x.Name, new {@class = "form-control"})
	<br />
	@Html.Label("Ürün Fiyatı")
	@Html.TextBoxFor(x=>x.Price, new {@class = "form-control"})
	<br />
	    @Html.Label("Ürün Stok Sayısı")
    @Html.TextBoxFor(x=>x.Stock, new {@class = "form-control"})
    <br />
	<button class =" btn btn-info">Ürün Güncelle</button>
</form>

